h1
{
	color:green;
}
h3
{
	color:grey;
}

img{

	width:200px;
	height:90px;
}
body
{
	background-color: lightgrey;
}
#top
{
	background-color: black
}
#title1
{
	color: white;
>>>>>>> 7bc95448bfe1fcb8fc5d3533c05027f29186ab0d
}